<script type="text/javascript">
  $(document).ready(function(){
    $("div#ready").hide();
    var player_2 = '0' ;
    var current_game = "<%=@current_game.id%>";
    $("#ask").click(function(){
      $.get( "/game/wait_player", {game_id:current_game}, function( data ) {
        if (data == "true"){
          alert("player is ready ");
          $("div#ready").show();
          $("div.loader").hide();
          }
        else{
          alert("player is not ready " );
          }
      });
    });


  });
</script>

<div class='container'>
  <div class="loader">
    Waiting for other player.
    <button id='ask'>Ask</button>
  </div>
  <div id="ready">
    Player is ready.
    <a href='/game/play/<%=@current_game.id%>'><button id='ready'>Go</button>
  </div>
</div>