<div class="container">
  <div align="center">
    <form action='/users/sign_in' method='post'>
      <table>
        <tr>
          <td>Username</td>
          <td><input type='text' name='username'></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type='password' name='password'></td>
        </tr>
      </table><br>
      <button value="submit">Sign in</button>
    </form>
  </div>
</div>