<div class="container">
  <h1>Welcome to Tic Tac Toe!</h1>
  <%if login %>
    <a href="/game/lobby"><button type='submit' value='submit'>Log in</button></a>
  <%else%>
    <a href='/user/sign_in'><button type='submit' value='submit'>Sign in</button></a>
  <%end%>
</div>
